@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: Bakerie;

  src: url("fontes/bakerie-rough-font-family-1915924/BakerieRough-Regular.otf");

  format: ("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  /* CORES */

  --cor-branca: #ffffff;
  --cor-principal: #5bc1ac;
  --cor-secundaria: #5a6f80;
  --background-secoes: #f0f8ff;
  --background-footer: #44525d;
  --background-botao: #597081;
  --background-botao-hover: #5bc1ac;
  --cor-preto: #000000;
  --p-color: #717275;
  --borda-cor: #e9eaeb;

  /* FONTES */

  --fonte-principal: "Lexend Deca", sans-serif;
  --font-logo: "Bakerie", sans-serif; 
  --font-logo2: "Open-Sans", sans-serif;

  /* PESOS DE FONTES */

  --fonte-peso-thin: 100;
  --fonte-peso-extra-light: 200;
  --fonte-peso-light: 300;
  --fonte-peso-regular: 400;
  --fonte-peso-medium: 500;
  --fonte-peso-semi-bold: 600;
  --fonte-peso-bold: 700;
  --fonte-peso-extra-bold: 800;
  --fonte-peso-black: 900;

  /* BORDER-RADIUS */

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
  --border-radius-botao: 5px;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: var(--cor-secundaria);
}

a:hover {
  color: var(--cor-principal);
}

body {
  background-color: var(--cor-branca);
}

.btn {
  font-family: var(--fonte-principal);
  font-weight: var(--fonte-peso-regular);
  border-radius: var(--border-radius-large) ;
  border: none;
  font-size: 16px;
  padding: 10px;
  background-color: var(--background-botao);
  color: white;
  transition: .5s;
  
}

.btn:hover {

  background-color:  var(--background-botao-hover);

}
.topo-fixo {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  background-color: var(--cor-principal);
  color: var(--cor-branca);
  font-family: var(--fonte-principal);
  font: var(--fonte-peso-thin);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 10;
}

.info-contato {
  display: flex;
  align-items: center;
  margin-left: 45px;
}

/* icones */
.redes-sociais {
  display: flex;
  gap: 15px;
  margin-right: 50px;
}
.fa-brands {
  font-size: 15px;
}

.fa-solid {
  margin: 2px;
}

/* Logotipo */

.logo {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}
.logo img {
  display: block;
  margin: 5px 0px 5px 50px;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.logo p {
  font-family: var(--font-logo);
  font-size: 25px;
  color: #f4862f;
}

.piscinas {
  margin-left: 50px;
  display: block;
  font-family: var(--font-logo2) !important ;
  font-size: 18px;
  margin-top: -5px;
  color: #69d2e7;
}

/* Menu Branco que contem logo, navegação e botão  */
.menu {
  position: fixed;
  display: flex;
  width: 100%;
  height: 78px;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  z-index: 1000;
  background-color: var(--cor-branca);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.118);
  
 

}

.navegacao {
  display: flex;
  height: 50px;
 
}

.itens-menu {
  display: flex;
  gap: 15px;
  margin-right: 60px;
  align-items: center;
  justify-content: center;
  font-size: 18px;


}



.itens-menu li {
  font-family: var(--fonte-principal);
  font-weight: var(--fonte-peso-light);
  padding: 6px;
}

.contato {
  border-radius: var(--border-radius-large);
  border: solid var(--background-botao-hover) 1px;
  display: inline-block;
  
  padding: 7px 15px; /* Ajuste no espaçamento interno */
  white-space: nowrap; /* Evita que o texto quebre em várias linhas */
  max-width: 150px; /* Define um limite para a largura do botão */
  text-align: center; /* Centraliza o texto */
  

}

.contato:hover {
  background-color: var(--background-botao-hover);
}

.contato a:hover {
  color: var(--cor-branca) !important;

  display: inline-block;
  width: auto;
}

.botaomenu {
  position: absolute;
  right: 100px;
  display: none;
  border: none;
  box-shadow: none;
  background-color: var(--background-secoes);
  font-size: 22px;
  color: var(--background-footer);
}

.hero-overlay {
  background-color: #59708173;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.hero-content {
  display: flex;
  flex-direction: column;
  position: absolute;
   color: white;
  font-family: var(--fonte-principal);
  font-weight: var(--fonte-peso-extra-bold);
  font-size: 40px;
  z-index: 5;
  text-align: center;
  align-items: center;
  
 }

.hero-content  {
  
  padding: 10px;
  text-shadow:  1px 1px 1px rgba(0, 0, 0, 0.763);
  
}

.dohero {
  margin-top: 10px;
  padding: 15px;
  font-size: 18px;
  
  
}

.herop2 {
  font-size: 25px;
  text-shadow: 1px  1px 1px #00000079 ;
}


.carousel {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  top:115px;
  margin: auto;
  overflow: hidden;
  z-index: 0;
  justify-content: center;
  align-items:center ;
 
   
}
.slide {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: bottom ;
  background-attachment: scroll;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  
}
.slide.active {
  opacity: 1;
  z-index: 0;
}

.bemvindoh1 {
  margin-top: 200px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: var(--fonte-principal);
  text-decoration: none;
  color: var(--cor-principal);

  
}
.bemvindo {
  width: 100%;
  height: 150px;
  margin-top: 100px;
  background-color: var(--cor-branca);
  display: flex;
  justify-content: center;
  align-items: start;
  

  
}

.bemvindo img {
  width: 150px;
  height: 150px;
  margin: 0px 30px 0px 30px ;

}

.bemvindo img:hover {
  transition: 1s;
  padding: 15px;
  border-radius: var(--border-radius-medium);
  box-shadow: 0.5px 0.5px 10px 0.5px rgba(0, 0, 0, 0.39);


}

.historia {
  height: 600px;
  background-color: var(--background-secoes);
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.historiabloco {
  background-color: var(--cor-branca);
  height: 220px;
  width: 400px;
  border-radius: var(--border-radius-medium);
  margin-right: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
    
}

.historiabloco h1 {
  margin-top: 15px;
  color: var(--cor-principal);
  font-size: 30px;
  font-family: var(--fonte-principal);
  
}

.historiabloco p {
  padding: 15px;
  line-height: 20px;
}

.historiabloco2 {
  background-color: var(--cor-branca);
  height: 250px;
  width: 400px;
  border-radius: var(--border-radius-medium);
  margin-right: 150px;
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;

}

.historiabloco2 h1 {
  margin-top: 15px;
  color: var(--cor-principal);
  font-size: 30px;
  font-family: var(--fonte-principal);
  
}

.historiabloco2 p {
  padding: 15px;
  line-height: 20px;
}




.historiafoto{
  background-color: var(--background-botao-hover);
  background: url(imagens/ChatGPT\ Image\ 12\ de\ abr.\ de\ 2025\,\ 22_34_53.png);
  background-size: 500px;
  background-position: top left;
  height: 500px;
  width: 400px;
  margin: 50px;
  border-radius: var(--border-radius-medium);
  margin-left: 150px;

}


.formulariocontato {
  margin-top: 150px;
  margin-bottom: 80px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--cor-branca);

}

.maps {

  width: 500px;
  height: 450px;
  background-color: var(--background-botao-hover);
  padding: 10px;
  border-radius: var(--border-radius-medium);


}


   
.formulario h1 {
  margin-bottom: 15px ;
  margin-top: 15px;
  font-family: var(--fonte-principal);
  color: #5bc1ac;
  font-size: 25px;
  align-self: center;
}
.formulario  form {
   
   font-family: var(--fonte-principal);
   display: flex;
   flex-flow: column;
   align-items: star;
   height: 450px;
   width: 500px;
   background-color:var(--background-secoes);
   border-radius: var(--border-radius-medium);
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.118);
  
   

   
}

.formulario form  input {
  margin: 10px;
  font-family: var(--fonte-principal);
  
}

#nome {
  border: none;
  padding: 5px;
  width: 90%;
  margin-left: 20px;
}
#sobrenome {
  border: none;  
  padding: 5px;
  width: 90%;
  margin-left: 20px;
}
#descricao {
  border: none;
  padding: 5px;
  width: 90%;
  margin-left: 20px;
  font-family: var(--fonte-principal);
}

#telefone {
  border: none;
  padding: 5px;
  width: 90%;
  margin-left: 20px;
}


.botaoenviar {

  border: none;
  align-self: center;
}



.botaoenviar > input {
  border: none;
  background-color: var(--background-botao);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: var(--cor-branca);
  font-size: 18px;
}

.botaoenviar > input:hover {
  background-color: var(--background-botao-hover);
}

.rodape {
  position: relative;
  display: flex;
  width: 100%;
  height: 200px;
  background-color: var(--background-footer);
  }

.rodape-coluna {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 25%;
    margin-top: 15px;
  font-family: var(--fonte-principal);
  font-size: 18px;
  font-weight: normal;
  color: var(--cor-branca);
  
  }

  .rodape-coluna h1 {
    font-size: 20px;
    color: var(--cor-principal);
    align-items: start;
    margin-left: -27px;
  }

 .rodape-coluna img {
    display: block;
    width: 80px;
    height: 80px;

  }

.rodape-coluna li {
  padding: 3px;
  text-align: start;
  font-size: 18px;
  }

  .rodape-coluna a {
    color: white;
    transition: 0.5s;
  }

  .rodape-coluna a:hover {
    color: #5bc1ac;
  }
  .infocontato{
    margin-left: -85px !important;

  }

  .barrafinal {
    background-color: var(--cor-secundaria);
    height: 60px;
    width: 100%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    box-shadow:#000000;
    
    
  }

   .barrafinal a {
    color: var(--cor-branca);
    transition: 0.5s;
    
  }

  .barrafinal a:hover {
    color: var(--background-botao-hover);
  
  }

  .colunafinal i {
    font-size: 19px;
    padding: 5px;
    background-color: var(--background-footer);
    border-radius: 20px;
   
   
  }

  .colunafinal i:hover {
    background-color: var(--cor-branca) ;
    }

  .paragrafo {
    color: var(--cor-branca);
    padding: 5px;
    font-family: var(--fonte-principal);
    font-size: small;
  }



@media (max-width: 768px) {
  .topo-fixo {
    display: none;
    margin: 0;
    padding: 0;
    height: 0;
  }

  #botaomenu {
    display: block;
    cursor: pointer;
    font-size: 24px;
    border: none;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 20;
  }

  #botaomenu:focus {
    outline: none;
  }

  .menu {
    margin: 0px;
    padding: 0px;
    display: flex;
    position: fixed;
  }
  .itens-menu {
    margin-top: 20px;
    flex-direction: column;
    position: fixed;
    background: var(--background-secoes);
    opacity: 0; /* Esconde o menu inicialmente */
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    z-index: 100;
  }


  .herop2 {
    font-size: 16px;
  }
  .btn {
    font-size: 14px;
  }
  
}

.itens-menu.ativo {
  display: flex;
  height: calc(100vh - 50px);
  flex-direction: column;
  position: absolute ;
  top:50px ;
  left: 0;
  width: 100%;
  background: var(--background-secoes);
  text-align: start;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);

}

.itens-menu.ativo li {
  padding: 10px;

}








