@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: Bakerie;

  src: url("fontes/bakerie-rough-font-family-1915924/BakerieRough-Regular.otf");

  format: ("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  /* CORES */

  --cor-branca: #ffffff;
  --cor-principal: #5bc1ac;
  --cor-secundaria: #5a6f80;
  --background-secoes: #f0f8ff;
  --background-footer: #44525d;
  --background-botao: #597081;
  --background-botao-hover: #5bc1ac;
  --cor-preto: #000000;
  --p-color: #717275;
  --borda-cor: #e9eaeb;

  /* FONTES */

  --fonte-principal: "Lexend Deca", sans-serif;
  --font-logo: "Bakerie", sans-serif; 
  --font-logo2: "Open-Sans", sans-serif;

  /* PESOS DE FONTES */

  --fonte-peso-thin: 100;
  --fonte-peso-extra-light: 200;
  --fonte-peso-light: 300;
  --fonte-peso-regular: 400;
  --fonte-peso-medium: 500;
  --fonte-peso-semi-bold: 600;
  --fonte-peso-bold: 700;
  --fonte-peso-extra-bold: 800;
  --fonte-peso-black: 900;

  /* BORDER-RADIUS */

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
  --border-radius-botao: 5px;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: var(--cor-secundaria);
}

a:hover {
  color: var(--cor-principal);
}

body {
  background-color: var(--cor-secundaria);
}

.btn {
  font-family: var(--fonte-principal);
  font-weight: var(--fonte-peso-regular);
  border-radius: var(--border-radius-large) ;
  border: none;
  font-size: 16px;
  padding: 10px;
  background-color: var(--background-botao);
  color: white;
  transition: .5s;
  
}

.btn:hover {

  background-color:  var(--background-botao-hover);

}
.topo-fixo {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  background-color: var(--cor-principal);
  color: var(--cor-branca);
  font-family: var(--fonte-principal);
  font: var(--fonte-peso-thin);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.info-contato {
  display: flex;
  align-items: center;
  margin-left: 45px;
}

/* icones */
.redes-sociais {
  display: flex;
  gap: 15px;
  margin-right: 50px;
}
.fa-brands {
  font-size: 15px;
}

.fa-solid {
  margin: 2px;
}

/* Logotipo */

.logo {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}
.logo img {
  display: block;
  margin: 5px 0px 5px 50px;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.logo p {
  font-family: var(--font-logo);
  font-size: 25px;
  color: #f4862f;
}

.piscinas {
  margin-left: 50px;
  display: block;
  font-family: var(--font-logo2) !important ;
  font-size: 18px;
  margin-top: -5px;
  color: #69d2e7;
}

/* Menu Branco que contem logo, navegação e botão  */
.menu {
  position: fixed;
  display: flex;
  background-color: var(--background-secoes);
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 38px;
  z-index: 1000;
}

.itens-menu {
  display: flex;
  gap: 15px;
  margin-right: 60px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



.itens-menu li {
  font-family: var(--fonte-principal);
  font-weight: var(--fonte-peso-light);
  padding: 6px;
}

.contato {
  border-radius: var(--border-radius-large);
  border: solid var(--background-botao-hover) 1px;
  display: inline-block;
  padding: 7px 15px;
  padding: 7px 15px; /* Ajuste no espaçamento interno */
  white-space: nowrap; /* Evita que o texto quebre em várias linhas */
  max-width: 150px; /* Define um limite para a largura do botão */
  text-align: center; /* Centraliza o texto */
  margin-bottom: 5px;
}

.contato:hover {
  background-color: var(--background-botao-hover);
}

.contato a:hover {
  color: var(--cor-branca) !important;

  display: inline-block;
  width: auto;
}

.botaomenu {
  position: absolute;
  right: 100px;
  display: none;
  border: none;
  box-shadow: none;
  background-color: var(--background-secoes);
  font-size: 22px;
  color: var(--background-footer);
}

.hero {
  height: 100vh;
  background-color: #5bc1ac;
  background: url(imagens/background2.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}

.hero-overlay {
  position: static;
  left: 0;
  top: 115px;
  width: 100%;
  height: 100%;
  background-color: #000000a3;
  background-attachment:scroll ;

}

.hero-content {
  position: absolute;
  color: white;
  z-index: 0;
  font-family: var(--fonte-principal);
  font-weight: var(--fonte-peso-medium);
  font-size: 25px;

}

.hero-content p, h1 {
  padding: 10px;
}

.dohero {
  margin-top: 10px;
  
}







.testeclasse {
  background-color: #f4862f;
}

@media (max-width: 768px) {
  .topo-fixo {
    display: none;
    margin: 0;
    padding: 0;
    height: 0;
  }

  #botaomenu {
    display: block;
    cursor: pointer;
    font-size: 24px;
    border: none;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 20;
  }

  #botaomenu:focus {
    outline: none;
  }

  .menu {
    margin: 0px;
    padding: 0px;
    display: flex;
    position: fixed;
  }
  .itens-menu {
    margin-top: 20px;
    flex-direction: column;
    position: fixed;
    background: var(--background-secoes);
    opacity: 0; /* Esconde o menu inicialmente */
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    z-index: 100;
  }

  .hero-content h1, p {
    font-size: 16px;
  }
  .btn {
    font-size: 14px;
  }
  
}

.itens-menu.ativo {
  display: flex;
  height: calc(100vh - 50px);
  flex-direction: column;
  position: absolute ;
  top:50px ;
  left: 0;
  width: 100%;
  background: var(--background-secoes);
  text-align: start;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);

}

.itens-menu.ativo li {
  padding: 10px;

}








